body{
    margin: 0;
    padding: 0;
}
.one-container .m-colorPicker .colorBtn[data-v-29559507]{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.color-picker{
    position: absolute;
    top: 0px;
    left: 0px;
}
.m-colorPicker .box.open[data-v-29559507]{
    z-index: 9;
}